.App {
  text-align: center;
}

.nav-bar-container {
  width: 100%;
  height: 101px;
  background: linear-gradient(155.51deg, #0DB1F7 27.23%, #0DB1F7 27.23%, #059BDB 72.1%);
  color: white;
  margin: 0;
  padding: 0;
}

.nav-bar-wrapper {
  width: 90vw;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.nav-home-button {
  width: 60px;

}

.nav-menu-button {
  width: 60px;
  
}

.nav-title {
  width: 200px;

}