* {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; }

.App {
  text-align: center; }

.nav-bar-container {
  width: 100%;
  height: 101px;
  background: linear-gradient(155.51deg, #0db1f7 27.23%, #0db1f7 27.23%, #059bdb 72.1%);
  color: white;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15); }

.nav-bar-wrapper {
  width: 90vw;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center; }

.nav-bar-wrapper h2 {
  font-size: 2rem; }

.nav-home-button {
  width: 60px; }

.nav-menu-button {
  width: 60px; }

.nav-title {
  width: 200px;
  letter-spacing: -0.04em; }

.sub-nav-bar-container {
  width: 100%;
  height: 46px;
  background: #e1e1e1;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.1);
  color: #171717;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08); }

.nav-menu-button {
  text-weight: bolder; }
