* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #171717;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(180deg, #e5e5e5 46.22%, #e3e3e3 94.86%);
  a {
    cursor: pointer;
    text-decoration: none;
    &:visited {
      color: black;
    }
    &:active {
      color: #3ab6ec;
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.error {
  color: red;
}

.nav-bar-container {
  width: 100%;
  height: 101px;
  background: linear-gradient(
    155.51deg,
    #0db1f7 27.23%,
    #0db1f7 27.23%,
    #059bdb 72.1%
  );
  color: white;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  border-bottom: 5px solid #bababa;
}

.nav-bar-wrapper {
  padding: 0 25px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  .nav-home-button a {
    color: white;
  }
  .nav-menu-button a {
    color: white;
  }
}

.nav-title {
  letter-spacing: -0.04em;
  font-size: 2rem;
  color: white;
}

.sub-nav-bar-container {
  height: 46px;
  padding: 0 25px;
  background: #e1e1e1;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.1);
  color: #171717;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  .sub-nav-category {
    font-weight: 600;
    letter-spacing: 0.03em;
    font-size: 0.9rem;
  }
}

.home-hero-image {
  background: url('../assets/home-bg.png') no-repeat right top;
  padding: 30px 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  h2 {
    align-self: flex-start;
    color: white;
    font-weight: 900;
    letter-spacing: -0.02em;
    font-size: 4.1rem;
    text-align: left;
    padding: 40px 25px;
    line-height: 100%;
  }
}

.alt-hero-image {
  background: url('../assets/home-bg.png') no-repeat center center;
  height: 110px;
  h2 {
    color: white;
    font-size: 1.8rem;
    text-align: left;
    vertical-align: middle;
    padding: 25px 0 15px 25px;
  }
}

.home-emoji-divider {
  margin: 40px 25px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.homepage-description {
  margin: 0 25px;
  p {
    line-height: 200%;
    letter-spacing: 0.2px;
    font-size: 1.3rem;
    text-align: left;
    margin-bottom: 50px;
  }
  span {
    font-weight: 900;
    font-size: 1.5rem;
    letter-spacing: -0.05em;
    margin-right: 4px;
  }
}

.action-button {
  width: 276px;
  height: 45px;
  background: linear-gradient(162.72deg, #ff8832 29.48%, #e36f1b 67.19%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.18);
  border-radius: 22.5px;
  border: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  p {
    font-family: Roboto;
    color: white;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 45px;
    margin-right: 8px;
    letter-spacing: 0.5px;
  }
}

.footer-container {
  background: linear-gradient(180deg, #0db1f7 0%, #059bdb 100%);
  height: 72px;
  padding: 0 25px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-align: center;
  .footer-copyright {
    width: 20%;
  }
  .footer-logo {
    letter-spacing: -0.04em;
    font-size: 1.5rem;
    color: white;
  }
  .footer-github-logo {
    width: 20%;
  }
}

.user-profile-header-container {
  margin: 30px 25px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  .user-profile-info {
    font-family: Roboto;
    text-align: left;
    letter-spacing: -0.02em;
    margin-left: -20px;
    justify-self: flex-start;
    width: 165px;
    h3 {
      font-weight: 900;
      font-size: 1.5rem;
    }
    h4 {
      font-weight: normal;
      font-size: 0.9rem;
      margin-bottom: 5px;
    }
  }
}

.user-profile-avatar {
  border-radius: 50%;
  width: 84px;
}

.guide-section-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 15px 0 40px 0;

  .link {
    display: flex;
    align-items: center;
    color: white;
    margin: 12px auto;
    padding: 30px;
    text-align: left;
    width: 80%;
    border-radius: 8px;
    height: 100px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.18);
    box-sizing: border-box;
    cursor: pointer;
    h4 {
      margin-left: 15px;
      font-weight: 900;
      font-size: 1.5rem;
      text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
      display: inline;
      color: white;
    }
  }
  a {
    color: white;
    text-decoration: none;
  }
  .guide-section-icon {
    display: flex;
    align-items: center;
    color: white;
    margin: 12px auto;
    padding: 30px;
    text-align: left;
    width: 80%;
    border-radius: 8px;
    height: 100px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.18);
    box-sizing: border-box;
    cursor: pointer;

    h4 {
      margin-left: 15px;
      font-weight: 900;
      font-size: 1.5rem;
      text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
      display: inline;
      color: white;
    }
  }
  .add-guide {
    background: linear-gradient(168.85deg, #56d85c 7.54%, #35a93a 93.35%);
  }

  .my-guides {
    background: linear-gradient(165.89deg, #3ab6ec 8.84%, #2d9bca 92.65%);
  }

  .browse {
    background: linear-gradient(169.42deg, #f7c71f 7.28%, #dfb417 93.54%);
  }

  .logout {
    background: linear-gradient(168.11deg, #ee4b4b 7.55%, #c03939 92.8%);
  }
}
.guide-section-icon.add-guide {
  a:hover {
    cursor: pointer;
  }
}

.sign-up-form-container,
.login-form-container,
.guide-form-container {
  margin: 30px 25px;
  text-align: left;
  .form-error {
    color: red;
  }
  h3 {
    font-weight: 900;
    font-size: 1.8rem;
    letter-spacing: -0.02em;
    margin-bottom: 10px;
  }
  h4 {
    display: inline;
    margin: 60px 10px 0 0;
    font-size: 1.3rem;
  }
  .sign-up-form-login {
    text-align: center;
    span {
      color: #0db1f6;
      font-weight: 900;
    }
  }
}

.guides-scroll-container {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 -15px 0 -15px;
  overflow-x: scroll;
}

.guide-photo-upload-input {
  margin: 20px 0;
  .upload-image-list {
    ul {
      list-style: none;
      margin-top: 8px;
      li {
        height: 40px;
        background-color: #c1ddc9;
        border-radius: 5px;
        color: green;
        text-align: center;
        line-height: 40px;
        font-size: 0.8rem;
      }
    }
  }
  .dropzone {
    margin-top: 10px;
  }
  .drop-zone-image-upload.active {
    border: 8px dashed #35a93a;
    background-color: #c1ddc9;
    box-sizing: border-box;
    transition: ease-in 0.05s;
    p {
      font-size: 1.5rem;
      color: green;
      transition: ease-in 0.05s;
    }
    svg {
      display: none;
    }
  }
  .drop-zone-image-upload.rejected {
    border: 8px dashed red;
    background-color: #ce9a9a;
    p {
      font-size: 1.5rem;
      color: red;
    }
    svg {
      display: none;
    }
  }
  .drop-zone-image-upload {
    background: #c4c4c4;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    height: 187px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    p {
      letter-spacing: 0.03em;
      color: #858585;
    }
  }
  h4 {
    line-height: 23px;
    letter-spacing: 0.03em;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
}

.add-another-step {
  height: 45px;
  background: none;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.18);
  border-radius: 22.5px;
  border: 2px solid #e97520;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  padding: 0 25px;
  p {
    font-family: Roboto;
    color: #e97520;
    font-weight: 900;
    font-size: 1.1rem;
    line-height: 45px;
    margin-right: 2px;
    letter-spacing: 0.02rem;
  }
}

.guide-category-section {
  margin: 40px 0;
}

.guide-card-container {
  height: 328px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.1);
  width: 280px;
  min-width: 280px;
  letter-spacing: 0.03em;
  margin: 10px 20px 15px 0;
  .guide-card-bottom {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    height: 83px;
    margin: auto 18px;
    .guide-card-info {
      margin-left: 18px;
      h4 {
        font-weight: normal;
      }
      span {
        font-weight: bold;
      }
    }
    h3 {
      font-size: 1rem;
      margin: 0;
      letter-spacing: 0.03em;
    }
    h4 {
      font-size: 0.8rem;
    }
    img {
      width: 50px;
      border-radius: 100%;
      height: 50px;
      margin: 0;
    }
  }
  img {
    overflow: hidden;
    width: 100%;
    border-radius: 8px 8px 0 0;
    height: 240px;
  }
}

.my-guides-container {
  margin-bottom: 90px;
  .my-guide-card-container {
    width: 100%;
    height: 132px;
    background: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.1);
    margin: 15px 0;
    .my-guide-card-thumbnail {
      align-self: stretch;
      img {
        width: 100px;
        height: 100%;
        object-fit: cover;
        box-sizing: border-box;
      }
    }
    .my-guide-card-description {
      text-align: left;
      margin-left: 35px;
      width: 180px;
      h3 {
        margin-bottom: 10px;
      }
    }
    .my-guide-card-edit {
      margin: 0 25px;
    }
  }
  h2 {
    font-weight: 900;
    font-size: 1.8rem;
    letter-spacing: -0.02em;
    margin: 30px 0 42px 25px;
    text-align: left;
  }
  h3 {
    color: rgba(0, 0, 0, 0.87);
  }
  h4 {
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.6);
  }
}

.guide-container {
  margin: 0 24px;
  text-align: left;
  .guide-description {
    margin: 12px 0;
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 180%;
      letter-spacing: 0.02rem;
    }
  }
  .guide-header {
    margin: 19px 0 12px 0;
    .likes-container {
      margin-top: 7px;
      p {
        display: inline;
      }
    }
  }
  .main-guide-image {
    width: 100%;
    border-radius: 8px;
  }
  .guide-step {
    margin: 50px 0 80px 0;
    .guide-image {
      width: 240px;
      margin: 10px 12px 25px 0;
      border-radius: 8px;
    }
    p {
      font-size: 1rem;
    }
    h3 {
      font-size: 1.3rem;
      font-weight: 900;
      letter-spacing: 0.02em;
    }
  }

  h2 {
    font-weight: 900;
    font-size: 1.8rem;
    letter-spacing: -0.02em;
    margin-bottom: 15px;
  }
  p {
    font-size: 0.8rem;
    span {
      font-weight: bold;
    }
  }
  svg {
    margin-right: 5px;
  }
}

.my-step-card-container {
  width: 100%;
  height: 132px;
  background: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.1);
  margin: 15px 0;
  .my-step-card-thumbnail {
    align-self: stretch;
    img {
      width: 100px;
      height: 100%;
      object-fit: cover;
      box-sizing: border-box;
    }
  }
  .my-step-card-description {
    text-align: left;
    margin-left: 35px;
    width: 180px;
    h3 {
      margin-bottom: 10px;
      font-size: 1rem;
    }
    h4 {
      font-size: 0.8rem;
    }
  }
  .my-step-card-edit {
    margin: 0 25px;
  }
}

.guide-materials-tools {
  h3 {
    font-size: 0.9rem;
  }
}

input[type='submit'] {
  width: 276px;
  height: 45px;
  background: linear-gradient(162.72deg, #ff8832 29.48%, #e36f1b 67.19%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.18);
  border-radius: 22.5px;
  border: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  font-family: Roboto;
  color: white;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 45px;
  letter-spacing: 0.5px;
}
